@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Poppins", sans-serif;
  /* custom color and font sizes */
  --red: #c30010;
  --titleXxl: 70px;
  --titleXl: 60px;
  --titleLg: 48px;
  --titleMd: 40px;
  --titleSm: 27px;
  --titleXsm: 20px;
}

body::-webkit-scrollbar {
  width: 10px !important;
}

body::-webkit-scrollbar-track {
  background-color: #e3eefb !important;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.24) !important;
}

body::-webkit-scrollbar-thumb {
  background: rgb(240, 31, 16) !important;
  border-radius: 4px !important;
}

/* common button style start*/
.common-button {
  width: 200px;
    /* margin: 10px; */
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, var(--red) 0%, #f04b19  51%, var(--red)  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .common-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .common-button:active {
    transform: scale(0.95);
  }

  /* common button style start end*/
