@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Poppins", sans-serif;
  /* custom color and font sizes */
  --red: #c30010;
  --titleXxl: 70px;
  --titleXl: 60px;
  --titleLg: 48px;
  --titleMd: 40px;
  --titleSm: 27px;
  --titleXsm: 20px;
}

body::-webkit-scrollbar {
  width: 10px !important;
}

body::-webkit-scrollbar-track {
  background-color: #e3eefb !important;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.24) !important;
}

body::-webkit-scrollbar-thumb {
  background: rgb(240, 31, 16) !important;
  border-radius: 4px !important;
}
